[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
scikit-learn = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"
scikit-image = "*"
pathlib = "*"

[dev-packages]

[requires]
python_version = "3.12"
